.header {
  width: 110%;
  height: 150px;
  border-bottom: 15px solid #646161;
  color: aliceblue;
  background-color: rgba(180, 25, 25, 10);
}

.inner {
  width:100%;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-color: black;
}

.anchor {
  display: inline-block;
  padding: 8px 24px;
  font-size: 1.2rem;
}

.anchor:hover,
.anchor:focus,
.anchor:active {
  color: #0070f3;
}
