.footer {
  width: 100%;
}

.outer {
  height: 15px;
  background-color: rgba(180, 25, 25, 10);
}

.inner {
  height: 150px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}
